<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.oneten.phantomnative</string>
    <key>CFBundleName</key>
    <string>PhantomNative</string>
    <key>CFBundleExecutable</key>
    <string>PhantomNative</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>PHANTOM needs the microphone to monitor and record your voice in real time.</string>
</dict>
</plist>
